.popup__name-input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  width: 100%;
  height: 27px;
  border: 0;
  padding: 0;
}
